# Build outputs
.data
.nitro
.nuxt
.output
.cache
dist
dist-ssr
html

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Vercel project link
.vercel

# Editors
.history

# AI
.impeccable
